<a href="https://colab.research.google.com/github/Rasamps/drug-misuse/blob/master/DD_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Code to change dataframe header names and dataframe values
Only did first 6 columns. Wasn't sure if we wanted to do it for all of them.

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv("drug_consumption.data", header=None, usecols=[1,2,3,4,5,6])

In [244]:
df.head()

         1        2        3        4        5        6
0  0.49788  0.48246 -0.05921  0.96082  0.12600  0.31287
1 -0.07854 -0.48246  1.98437  0.96082 -0.31685 -0.67825
2  0.49788 -0.48246 -0.05921  0.96082 -0.31685 -0.46725
3 -0.95197  0.48246  1.16365  0.96082 -0.31685 -0.14882
4  0.49788  0.48246  1.98437  0.96082 -0.31685  0.73545

In [0]:
df.columns = ["Age", "Gender", "Education", "Country", "Ethnicity","Nscore"]

In [0]:
df.loc[df["Age"] == -0.9519700000000001, "Age"] = "18-24"
df.loc[df["Age"] == -0.07854, "Age"] = "25-34"
df.loc[df["Age"] == 0.49788000000000004, "Age"] = "35-44"
df.loc[df["Age"] == 1.09449, "Age"] = "45-54"
df.loc[df["Age"] == 1.82213, "Age"] = "55-64"
df.loc[df["Age"] == 2.59171, "Age"] = "65+"

df.loc[df["Gender"] == 0.48246000000000006, "Gender"] = "Female"
df.loc[df["Gender"] == -0.48246000000000006, "Gender"] = "Male"

df.loc[df["Education"] == -2.43591, "Education"] = "Left before 16"
df.loc[df["Education"] == -1.73790, "Education"] = "Left at 16"
df.loc[df["Education"] == -1.43719, "Education"] = "Left at 17"
df.loc[df["Education"] == -1.22751, "Education"] = "Left at 18"
df.loc[df["Education"] == -0.6111300000000001, "Education"] = "College/University no degree"
df.loc[df["Education"] == -0.059210000000000006, "Education"] = "Professional Certificate/diploma"
df.loc[df["Education"] == 0.45468000000000003, "Education"] = "University degree"
df.loc[df["Education"] == 1.16365, "Education"] = "Masters degree"
df.loc[df["Education"] == 1.98437, "Education"] = "Doctorate degree"

df.loc[df["Country"] == -0.09765, "Country"] = "Australia"
df.loc[df["Country"] == 0.24923, "Country"] = "Canada"
df.loc[df["Country"] == -0.46841000000000005, "Country"] = "New Zealand"
df.loc[df["Country"] == -0.28519, "Country"] = "Other"
df.loc[df["Country"] == 0.21128000000000002, "Country"] = "Republic of Ireland"
df.loc[df["Country"] == 0.9608200000000001, "Country"] = "UK"
df.loc[df["Country"] == -0.57009, "Country"] = "USA"

df.loc[df["Ethnicity"] == -0.50212, "Ethnicity"] = "Asian"
df.loc[df["Ethnicity"] == -1.1070200000000001, "Ethnicity"] = "Black"
df.loc[df["Ethnicity"] == 1.90725, "Ethnicity"] = "Mixed-Black/Asian"
df.loc[df["Ethnicity"] == 0.12600, "Ethnicity"] = "Mixed-White/Asian"
df.loc[df["Ethnicity"] == -0.22166, "Ethnicity"] = "Mixed-White/Black"
df.loc[df["Ethnicity"] == 0.11440, "Ethnicity"] = "Other"
df.loc[df["Ethnicity"] == -0.31685, "Ethnicity"] = "White"

In [247]:
drug_data.head()

       Age   Gender  Education  Country  Ethnicity   Nscore
0  0.49788  0.48246   -0.05921  0.96082    0.12600  0.31287
1 -0.07854 -0.48246    1.98437  0.96082   -0.31685 -0.67825
2  0.49788 -0.48246   -0.05921  0.96082   -0.31685 -0.46725
3 -0.95197  0.48246    1.16365  0.96082   -0.31685 -0.14882
4  0.49788  0.48246    1.98437  0.96082   -0.31685  0.73545