<a href="https://colab.research.google.com/github/Rasamps/drug-misuse/blob/master/write_to_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Code which changes the label data from its statistical
distribution to the corresponding labels given. The resulting dataframe is then written to a csv file for data visualization.

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv("drug_consumption.data", header=None)

In [16]:
df.head()
df = df.drop(df.columns[0],axis=1)
df.columns = ["Age", "Gender", "Education", "Country", "Ethnicity","Nscore",
              "Escore","Oscore","Ascore","Cscore","Imp","SS","Alc","Amph",
              "Amyl","Benz","Caff","Cann","Choc","Coke","Crack","Ect",
              "Heroin","Keta","Legalh","LSD","Meth","Shrooms","Nico","Semer","VSA"]
df.head()

       Age   Gender  Education  Country  Ethnicity  ...  Meth  Shrooms  Nico  Semer  VSA
0  0.49788  0.48246   -0.05921  0.96082    0.12600  ...   CL0      CL0   CL2    CL0  CL0
1 -0.07854 -0.48246    1.98437  0.96082   -0.31685  ...   CL3      CL0   CL4    CL0  CL0
2  0.49788 -0.48246   -0.05921  0.96082   -0.31685  ...   CL0      CL1   CL0    CL0  CL0
3 -0.95197  0.48246    1.16365  0.96082   -0.31685  ...   CL0      CL0   CL2    CL0  CL0
4  0.49788  0.48246    1.98437  0.96082   -0.31685  ...   CL0      CL2   CL2    CL0  CL0

[5 rows x 31 columns]

In [19]:
##Switch the distribution statistics to corresponding values for visualizations.
#Switch all real values for ages to the corresponding age ranges.
df.loc[(df.Age == -0.9519700000000001), 'Age'] = "18-24"
df.loc[(df.Age == -0.07854), 'Age'] = "25-34"
df.loc[(df.Age == 0.49788000000000004), 'Age'] = "35-44"
df.loc[(df.Age == 1.09449), 'Age'] = "45-54"
df.loc[(df.Age == 1.82213), 'Age'] = "55-64"
df.loc[(df.Age == 2.59171), 'Age'] = "65+"

#Switch gender statistics to either male or female, dependent on participant.
df.loc[(df.Gender == 0.48246000000000006), 'Gender'] = "Female"
df.loc[(df.Gender == -0.48246000000000006), 'Gender'] = "Male"

#Switch education from its statistical distribution into the corresponding levels.
df.loc[(df.Education == -0.059210000000000006), 'Education'] = "Diploma" #Professional Diploma
df.loc[(df.Education == 1.98437), 'Education'] = "PhD" #PostDoctorate
df.loc[(df.Education == 1.16365), 'Education'] = "MA" #Masters
df.loc[(df.Education == -1.22751), 'Education'] = "L18" #Left school at 18
df.loc[(df.Education == -1.7379), 'Education'] = "L16" #Left school at 16
df.loc[(df.Education == 0.45468000000000003), 'Education'] = "UG" #Undergraduate degree
df.loc[(df.Education == -0.6111300000000001), 'Education'] = "Incomplete" #Incomplete undergraduate degree
df.loc[(df.Education == -2.43591), 'Education'] = "LB16" #Left school before 16
df.loc[(df.Education == -1.43719), 'Education'] = "L17" #Left school at 17

#Switch country distribution to country names.
df.loc[(df.Country == 0.9608200000000001), 'Country'] = "UK"
df.loc[(df.Country == 0.24923), 'Country'] = "CA"
df.loc[(df.Country == -0.57009), 'Country'] = "USA"
df.loc[(df.Country == -0.28519), 'Country'] = "Other"
df.loc[(df.Country == -0.09765), 'Country'] = "AUS"
df.loc[(df.Country == 0.21128000000000002), 'Country'] = "IRL"
df.loc[(df.Country == -0.46841000000000005), 'Country'] = "NZ"

#Dropped ethnicity as 92% of participants are white and the remaining ethnicities were
#only composed of a few participants each.
df = df.drop(columns = ['Ethnicity'],axis=1)
df.head()

     Age  Gender Education Country   Nscore  ...  Meth  Shrooms  Nico  Semer  VSA
0  35-44  Female   Diploma      UK  0.31287  ...   CL0      CL0   CL2    CL0  CL0
1  25-34    Male       PhD      UK -0.67825  ...   CL3      CL0   CL4    CL0  CL0
2  35-44    Male   Diploma      UK -0.46725  ...   CL0      CL1   CL0    CL0  CL0
3  18-24  Female        MA      UK -0.14882  ...   CL0      CL0   CL2    CL0  CL0
4  35-44  Female       PhD      UK  0.73545  ...   CL0      CL2   CL2    CL0  CL0

[5 rows x 30 columns]

In [0]:
df.to_csv("drug_cons_data.csv",index=False)